.pixabay {
  display: flex;
  flex-flow: row wrap;
  background: blue;
  justify-content: center;
  margin: 100px auto;
  width: 800px;
  padding: 100px 0;
}
ul {
  list-style: none;
}

.pixabay li {
  margin: 10px;
}
